{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "routes": "./src/routes",
          "controllers": "./src/controllers",
          "models": "./src/models"
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
